.input .radio {
  display: flex;
}

.input .radio label {
  display: flex;
  font-size: calc(0.3rem + 0.6vmax);
}

.input .meta {
  font-size: calc(0.3rem + 0.6vmax);
  height: 50px;
}

.input input,
.input select {
  padding: 0.6em;
  border-color: none;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 2px;
}

.input.touched input,
.input.touched select {
  border-color: limegreen;
}

.input.active input,
.input.active select {
  border-color: blue;
}

.input.error input,
.input.error select {
  border-color: red;
}

.input select {
  width: 100px;
}
