.input .radio {
  display: flex;
}

.input .radio label {
  display: flex;
  font-size: calc(0.3rem + 0.6vmax);
}

.input .meta {
  font-size: calc(0.3rem + 0.6vmax);
  height: 50px;
}

.input select {
  width: 100px;
}
