{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "rules": {
    "react/prop-types": 0
  }
}
