.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.form-selector {
  max-width: 80vw;
}

.form-selector > ul {
  list-style: none;
  display: flex;
}

.form-selector > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
